@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	height: 100vh;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.bg-gradient-animation {
	background: linear-gradient(
		270deg,
		rgba(51, 217, 62, 0.742),
		rgba(144, 19, 254, 0.731)
	); /* Change colors as needed */
	background-size: 400% 400%;
	animation: gradient-animation 15s ease infinite;
}

@keyframes card-up {
	0% {
		transform: translateY(50px);
	}
	50% {
		transform: translateY(-50px);
	}
	70% {
		transform: translateY(-50px);
	}
	100% {
		transform: translateY(50px);
	}
}

@keyframes card-down {
	0% {
		transform: translateY(-50px);
	}
	50% {
		transform: translateY(50px);
	}
	70% {
		transform: translateY(50px);
	}
	100% {
		transform: translateY(-50px);
	}
}

.card-up {
	animation: card-up 6s ease-in-out infinite;
}

.card-down {
	animation: card-down 6s ease-in-out infinite;
}
